<div class="container">
    <form action="/api/productos" method="post">
        <h2>Ingresar nuevo producto</h2>
        <div class="border">
            <p>Nombre: <input type="text" name="title"></p>
            <p>Precio: <input type="text" name="price"></p>
            <p>Url image: <input type="text" name="image"></p>
        </div>
        <div class="border">
            <p>Descripción: <input type="text" name="description"></p>
        </div>
        <button type="submit" id="enviar" class="btn">Enviar</button>
    </form>
</div>